[user]
  email = timocratic@gmail.com
  name = Tim Connor
[alias]
  co = checkout
  cm = commit -m
  all = commit -a -m
  rb = rebase -i origin
  pu = !git pull && git push
  st = status
  am = commit --amend
