[user]
  email = timocratic@gmail.com
  name = Tim Connor
[alias]
  co = checkout
  cm = commit -m
  all = commit -a -m
  ci = commit
  rb = rebase
  pu = !git pull && git push
  st = status
  amend = commit --amend
